header {
  height: 40px;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  font-size: 18px;
  background: #222;
  color: #FFF;
  z-index: 1000;

  .container  {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
  }

  .logo a {
    color: #FFF;
  }

  .menu {
    height: 40px;
    display: flex;

    a {
      display: inline-block;
      color: #FFF;
      padding: 8px 10px;
    }

    .cart-btn { 
      padding: 8px 10px;
      cursor: pointer;
    }
  }
}

.cart-panel {
  position: fixed;
  background: #FFF;
  top: 40px;
  right: -300px;
  bottom: 0px;
  width: 300px;
  padding: 20px;
  overflow: auto;
  z-index: 1000;
  transition: all 0.2s;

  h3 { display: inline-block; }
  
  .close-btn {
    font-size: 20px;
    float: right;
  }

  .cart-item-top  {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
  
    .cart-item-img {
      width: 80px; height: 80px;
      overflow: hidden;

      img {  object-fit: cover;}
    }
    .cart-item-info {
      padding: 10px 0;      
    }
  }
  
  .cart-item-bottom {
    display: grid;
    grid-template-columns: repeat(3, 30px) 40px;
    grid-gap: 10px;
    grid-auto-flow: column;
    justify-content: end;

    h5 { padding-top: 5px; }
    .trash-btn { justify-self: end; }
  }
  
  .cart-details-btn {
    margin-top: 20px;
    text-align: center;
  }
}

.alert-row {
  margin-bottom: 20px;
}