.products-panel {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;

  .product-image {
    width: 100%;
    height: 200px;
    overflow: hidden; 
  
    img { object-fit: cover; }
  }

  div { text-align: center; }
}
